<div class="cgw reactionbar flexrow">
    {{#each reactions}}
        <button class="reaction" data-id="{{id}}"><i class="fas fa-{{icon}}" style="color: {{color}};"></i></button>
    {{/each}}
</div>