<form class="flexcol">
  {{#each this}}
    {{> "modules/crowdgoeswild/templates/parts/ReactionRow.hbs"}}
  {{/each}}
  <button name="submit" id="generateButton">Close and Generate Reaction PNGs</button>
</form>