.cgw{
    &.reactionbar{
        flex-grow: 0;
        justify-content: center;

        button{
            flex-grow: 0;
            min-width: 15%;
            background-color: rgba(0,0,0,0.4);
            border: 1px solid rgba(255,255,255,0.4);
        }
    }
}

.cgw-reaction{
    pointer-events: none;
}